<html>
<head>
<title>A Bit fit</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<form>
	<div class="container">
				<h1><p class="text-primary">FitFoodie</p><small><p>We make you care for your body</p></small></h1>
				<br>
				<br>
				<br>
				<h3><p class="text-primary">Signup</p><small><h5><p>Enter the details below, fields marked<mark> * are mandatory</mark></p></h5></small></h3>
				<br>
				<h4><p class="text-primary">Please fill in this form to create an account</p></h4>
				<label><h4><small>First Name *</small></h4></label>
				<input id="fname" type="text" class="form-control" name="fname">
			<br>
				<label><h4><small>Last Name</small></h4></label>
				<input id="lname" type="text" class="form-control" name="lname">
			<br>
				<label><h4><small>User Name *</small></h4></label>
				<input id="uname" type="text" class="form-control" name="uname">
			<br>
				<label><h4><small>Password *</small></h4></label>
				<input id="pwd" type="password" class="form-control" name="pwd">
			<br>
				<label><h4><small>Confirm Password *</small></h4></label>
				<input id="cpwd" type="password" class="form-control" name="cpwd">
			<br>
			<button type="submit" class="btn btn-primary" style="margin:auto;display:block">Signup</button>
			<br>
			<br>
			<br>
			<br>
				<h4><p class="text-primary">Sigin</p></h4>
	</div>
	</form>
</body>
</html>