<html>
<head>
<title>A Bit fit</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form>
	<div class="container">
				<h1><p class="text-primary">FitFoodie</p><small><p>We make you care for your body</p></small></h1>
				<br>
				<br>
				<br>
				<label><h4><small>User Name</small></h4></label>
				<input id="uname" type="text" class="form-control" name="uname">
			<br>
				<label><h4><small>Password</small></h4></label>
				<input id="pwd" type="password" class="form-control" name="pwd">
			<br>
			<button type="submit" class="btn btn-primary" style="margin:auto;display:block">Signin</button>
		</div>
	</form>
</body>
</html>
